<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Title T.K." %> | Aaron Sumner</title>
    <%= stylesheet_link_tag "bootstrap", "bootstrap-narrow", "font-awesome", 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic', "site" %>
  </head>

  <body class="<%= page_classes %>">
    <header class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><a href="/"><img src="/images/header.png" alt="Aaron Sumner"></a></h1>
        </div>
      </div>
      <hr />
    </header>

    <div id="content" class="container">
      <%= yield %>
    </div>

    <footer class="container">
      <hr />
        <ul class="nav nav-pills">
          <li><a href="/">Home</a></li>
          <li><a href="/pages/archives.html">Archives</a></li>
          <li><a href="/pages/projects.html">Projects</a></li>
          <li><a href="/pages/colophon.html">Colophon</a></li>
          <li><a href="/pages/license.html">License</a></li>
          <li><a href="#">Feed</a></li>
          <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
    </footer>
    <%= javascript_include_tag  "https://code.jquery.com/jquery.js", "all" %>
  </body>
</html>
