---
title: Reading List
---

<p>
  Here's a list of books I've checked out of late.
  Most of these links point to Amazon.com and include my affiliate code,
  so if you purchase them I get a small cut, but also give me access to an
  Amazon API I use to generate much of this content without having to scrape
  or copy/paste information from a webpage. Thank you!
</p>

<ul>
  <% blog('reading').articles.each do |article| %>
    <li> 
      <div class="reading">
      <% if article.data.image %>
      <a href="<%= article.data.purchase_url %>"><img alt="" class="book amazon-book-cover" src="<%= article.data.image %>" /></a>
      <% end %>
      <h4>
        <a href="<%= article.data.purchase_url %>"><%= article.title %> (<%= author_and_publisher(article.data) %>)</a>
      </h4>
      <%= article.summary(1000) %>
      <time>(<%= article.date.strftime('%B %Y') %>)</time>
      </div>
    </li>
  <% end %>
</ul>
