---
title: Reading List
---

<p>
  Hey, most of these links point to Amazon.com and include my affiliate code,
  so if you purchase them I get a small cut. O'Reilly books are an exception
  since I get to read those for free. Self-published titles link directly to
  the author's selling page.
</p>

</p>
  All that said, I get most of my reading material from my local public
  library—so be sure to check them out, too.
</p>

<ul>
  <% blog('reading').articles.each do |article| %>
    <li>
      <article class="reading">
        <% if article.data.image %>
        <a href="<%= article.data.purchase_url %>"><img class="amazon-book-cover" src="<%= article.data.image %>" /></a>
        <% end %>
        <h4>
          <a href="<%= article.data.purchase_url %>"><%= article.title %> (<%= author_and_publisher(article.data) %>)</a>
        </h4>
        <%= article.summary(500) %>
        <time>(<%= article.date.strftime('%B %Y') %>)</time>
      </article>
    </li>
  <% end %>
</ul>
