---
title: Home
---

<div id="projects">
  <div class="row">
    <div class="project project-featured col-md-6">
      <a href="https://leanpub.com/everydayrailsrspec"><img src="/images/rspec_book.jpg" class="book" alt="Everyday Rails Testing with RSpec" /></a>
      <a href="https://leanpub.com/everydayrailsrspec">Everyday Rails Testing
      with RSpec</a> is my first book! Learn how to test your
      Rails applications the way I did and <strong>test with confidence</strong>, by focusing on core technologies and
      simple, readable tests that pass. <a
      href="https://leanpub.com/everydayrailsrspec">Learn more</a>.
    </div>
    <div class="project project-featured col-md-6">
      <a href="http://everydayrails.com/"><img src="/images/everyday_rails.png" alt="Everyday Rails" /></a>
      <a href="http://everydayrails.com/">Everyday Rails</a> is a blog for
      people who need to build stuff with Rails and get on to their next
      project. I started it in 2010 to help beginner and intermediate Rails
      developers be productive while still learning the ropes.
    </div>
  </div>

  <div class="row">
    <div class="project col-md-4">
      <a href="http://soundrefound.com/">Sound Refound</a> is an online gallery
      of promotional flyers for concerts. I've collected these over the years,
      primarily in the Lawrence, Kansas, and Seattle, Washington areas.
    </div>
    <div class="project col-md-4">
      <a
         href="https://atom.io/packages/atom-everydayrails-rspec">atom-everydayrails-rspec</a>
      is package of snippets to speed up and simplify writing tests in the
      Atom editor, as taught in <a href="https://leanpub.com/everydayrailsrspec">my
        Rails testing book</a>. I use these snippets every day to speed up writing tests!
    </div>
    <div class="project col-md-4">
      <strong>Next projects coming soon.</strong>
      I'm messing around with some JAMstack stuff and fresh book idea(s) at the moment.
      You should probably
      <a href="http://eepurl.com/nRW0z">subscribe to my newsletter</a>
      and stay current.
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <h3>Recent posts</h3>

    <ul>
      <% blog('posts').articles[0..9].each do |article| %>
        <li>
          <a href="<%= article.url %>"><%= article.title %></a>
          <time>(<%= article.date.strftime('%B %e, %Y') %>)</time>
        </li>
      <% end %>
    </ul>

    <p>
      <a href="/pages/archives.html">Hit the archives for more</a>
    </p>
  </div>

  <div class="col-md-6">
    <h3>Now reading</h3>
    <ul>
      <% blog('reading').articles[0..5].each do |article| %>
        <li>
          <a href="<%= article.data.purchase_url %>"><%= article.title %></a>
          (<%= author_and_publisher(article.data) %>)
        </li>
      <% end %>
    </ul>

    <p>
      <a href="/pages/reading.html">Complete reading list</a>
    </p>
  </div>
</div>

